* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

body a {
  color: seashell;
}

.container {
  position: relative;
  top: 69px;
}

/* Header & Nav */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 1;
  position: fixed;
  width: 100%;
  background: black;
}

header img {
  margin-left: 10px;
  height: 50px;
}

header nav {
  margin-right: 10px;
}

header nav a {
  margin-left: 20px;
}

/* Lead */

article.lead {
  background-image: url(./../images/img-mission-background.jpg);
  position: relative;
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

article.lead span {
  padding: 10px 10px 18px 10px;
  background: black;
}

article.lead h2 {
  padding-bottom: 10px;
}

/* Tea */

article.tea {
  padding: 60px 0 80px 0;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article.tea h2, h4{
  margin-top: 10px;
  flex-basis: 100%;
}

article.tea span {
  margin-top: 20px;
  padding: 0 15px;
}

article.tea span img {
  width: 300px;
  height: 200px;
}

article.tea span h5 {
  margin-top: 10px;
  font-size: 22px;
}

/* Locations */

article.locations {
  background-image: url(./../images/img-locations-background.jpg);
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

article.locations h2 {
  margin-bottom: 15px;
  flex-basis: 100%;
}

article.locations span {
  margin: 0 20px;
  width: 300px;
  background: black;
}

article.locations span h3, p {
  padding: 20px 0;
}

/* Footer */

footer h2 {
  padding: 10px 0 30px 0;
}

footer h5 {
  padding: 15px 0;
}

footer h5.copyright {
  text-align: left;
  padding: 80px 0 20px 10px;
}
